<div class="container">
    <h1>Logga In</h1>    
    
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div>
            <label for="username">Användarnamn:</label>
            <input type="text" id="username" formControlName="username">
        </div>
        <div>
            <label for="password">Lösenord:</label>
            <input type="text" id="password" formControlName="password">
        </div>
        <button type="submit">Logga in</button>
      </form>

</div>

<div class="container">
    <h2>Ny Användare</h2>    
    
    <form [formGroup]="addUserForm" (ngSubmit)="addUser()">
        <div>
            <label for="Addusername">Användarnamn:</label>
            <input type="text" id="Addusername" formControlName="username">
        </div>
        <div>
            <label for="Addpassword">Lösenord:</label>
            <input type="text" id="Addpassword" formControlName="password">
        </div>
        <button type="submit">Logga in</button>
      </form>

</div>