html, body {
    height: 100%;
    margin: 0;
    padding: 0;
 

}

body {
    background-repeat: no-repeat;

    background-attachment: fixed;
}


main
{
    margin-top: 150px;
}


@media (max-width: 768px) {
    body {
        background-image: url("assets/backgroundS.jpg");

    }
}

@media (max-width: 400px) {
    body {
        background-image: url("assets/backgroundsmall.jpg");
    }
}

@media (min-width: 769px) {
    body {
        background-image: url("assets/backgroundL.jpg");
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
