html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(94, 148, 148);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
