<div class="container">
    <h1>Sök tillgänliga bord</h1>    
    <form [formGroup]="bookForm" (ngSubmit)="getFreeTable()">
        <div>
          <label for="bookingDate">Datum:</label>
          <input type="date" id="bookingDate" formControlName="bookingDate">
        </div>
        <div>
            <label for="bookingtime">tid:</label>
            <input type="time" id="bookingtime" formControlName="bookingtime">
          </div>
        <div>
          <label for="numberGuests">Kapacitet:</label>
          <input type="number" id="numberGuests" formControlName="numberGuests">
        </div>
       
        
        <button type="submit">Sök Bord</button>
      </form>
      
                <details *ngFor="let table of tableList">
                    <summary class="indicator">Bordsnamn: {{ table.tableID }}
                        <br>
                        <button  class="book-table-button" (click)="bookTable(table.tableID)" >Boka Bord</button>
                    </summary>
                    <p class="content">Placering: {{ table.location }}</p>
                    <p class="content">Max antal gäster: {{ table.capacity }}</p>
                </details>
    </div>


    <div class="container">
      <h2>Mina bokning</h2>    

                  <details *ngFor="let bookning of bookedList2">
                      <summary class="indicator">Datum: {{ bookning.bookingDate }}
                          <br>
                         
                      </summary>
                      <p class="content">Bord: {{ bookning.tableID }}</p>
                      <p class="content">Antal gäster: {{ bookning.numberGuests }}</p>
                  </details>
      </div>
      