
  .container {
    width: 80%;
    height: 80%;
    max-width: 800px; 
    margin: 20px auto; 
    padding: 20px; 
    background-color: #818181;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    border-radius: 10px; 
    border: 1px solid #eee; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book-table-button {
 
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #6fac81;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    &:hover {
      background-color: #5c8e6b;
    }
  
}