<div class="container">
    <h1>Bord</h1>    
    <form [formGroup]="tableForm" (ngSubmit)="addTable()">
        <div>
          <label for="tableID">Bordsnamn:</label>
          <input type="text" id="tableID" formControlName="tableID">
        </div>
        <div>
          <label for="capacity">Kapacitet:</label>
          <input type="number" id="capacity" formControlName="capacity">
        </div>
        <div>
          <label for="location">Location:</label>
          <select id="location" formControlName="location">
            <option value="">Bordsplacering</option>
            <option value="inne">Inne</option>
            <option value="ute">Ute</option>
          </select>
        </div>
        <button type="submit">Addera Bord</button>
      </form>
      

                <details *ngFor="let table of tableList">
                    <summary class="indicator">Bordsnamn: {{ table.tableID }}
                    <br>
                    <button class="delete-table-button " (click)="deleteTable(table.tableID)" >Radera Bord</button>
                    </summary>
                    <p class="content">Placering: {{ table.location }}</p>
                    <p class="content">Antal gäster: {{ table.capacity }}</p>
                   
                </details>
    </div>
    