<header>
  <nav>
      <button class="menubutton" mat-button [matMenuTriggerFor]="menu">Menu</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/home" >Home</button>
        <button mat-menu-item routerLink="/table">Table</button>
        
        <button mat-menu-item routerLink="/book">Bookning</button>
        <ng-container *ngIf="jwtcheck">
          <button mat-menu-item routerLink="/table">Table</button>
        </ng-container>
      </mat-menu>
  </nav>
</header>